*
{
    box-sizing: border-box;
}
.imagenes
{
    width: auto;
    height: 300px;
    border-radius: 2em;
    align-content: space-between;
    box-shadow: 2px 2px 4px #000000;
    padding: 8px;
    display: inline;
    border: solid rgb(255, 255, 255);
    
   
}


.main-nav
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    background-color: sandybrown;
    padding: 1em;
    text-align:right;
    font-size: 30px;
    

}


.main-nav__logo
{
    max-width: 150px;
    background-color: rgb(52, 6, 126);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    display: inline;

  
}

.main-nav__titulo
{
    font-size: 25px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(52, 6, 126);
    color: white;
    margin-top: 18px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px #000000;
    padding: 1em;
}    

.main-nav__item
{
    list-style: none; 
    display: inline;
    font-size: 0.5em;


}
.main-nav__item a
{
    color: seashell;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    background-color: rgb(151, 151, 151);
    

}
.main-nav__item a:hover
{
    color: violet;
    background-color: rebeccapurple;
    
}
.main-nav__logo:hover
{
    background-color: white;
    opacity: 50%;
}
.footer
{
    background-color: silver;
    width: auto;
    padding: 6px;
    font-size: 18px;
    color: rgb(255, 255, 255);


    
}
.footer__item
{
    font-family:Helvetica, sans-serif;
    background-color: rebeccapurple;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.footer__item--about
{
    font-family:Helvetica, sans-serif;
    background-color: rebeccapurple;
    display: inline; 
    border-radius: 10px;
    text-align: left;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    list-style: none;



}



.footer__item :hover
{
    text-shadow: 2px 2px 4px #000000;
}


.footer__item--about :hover
{
    text-shadow: 2px 2px 4px #000000;
}


