*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html
{
    font-size: 62.5%;
}


.main-nav
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    background-color: rgb(51, 61, 155);
    font-size: 1rem;
    width: 100%;
    height: 35vh;
    

}


.main-nav__logo
{
    max-width: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: inline;
    font-size: 2rem;
    margin-left: 1rem;

  
}

.main-nav__titulo
{

    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    color: rgb(65, 35, 146);
    margin: 2rem 4rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 2px #000000;
    padding: 0.5rem;
    font-size: 3rem;
    border-radius: 2rem;

}    

.main-nav__item
{
    list-style: none; 
    display: inline;
    font-size: 1.8rem;
    margin: 1rem 1rem;


}
.main-nav__item a
{
    color: seashell;
    padding: 1rem 1.8rem;
    border-radius: 10px;
    background-color: rgb(151, 151, 151);
   
    

}
.main-nav__item a:hover
{
    color: violet;
    background-color: rebeccapurple;
    
}
.main-nav__logo:hover
{
    background-color: white;
    opacity: 50%;
}

.figure
{
    background: rgb(9,0,134);
    background: linear-gradient(0deg, rgba(9,0,134,1) 0%, rgba(9,9,205,1) 21%, rgba(0,212,255,1) 100%);
    
   


}
#a
{
    position: absolute;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    color: rgb(65, 35, 146);
    margin: 1rem 4rem;
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 0px #000000;
    
}
#b
{
    display: inline;
    position: absolute;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    color: rgb(65, 35, 146);
    margin: 1rem 5rem;
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 0px #000000;
    
}
#c
{
    display: inline;
    position: absolute;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    color: rgb(65, 35, 146);
    margin: 1rem 5rem;
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 0px #000000;
    
}

.imagenes
{
    width: auto;
    margin: 1rem;
    margin-top: 5rem;
    height: 30vh;
    border-radius: 2rem;
    align-content: space-between;
    box-shadow: 2px 2px 4px #000000;
    padding: 1rem;
    display: inline-block;
    border: solid rgb(255, 255, 255);
    background-color: honeydew;
    
   
}

.footer
{
    background-color: silver;
    width: auto;
    padding: 6px;
    font-size: 18px;
    color: rgb(255, 255, 255);


    
}
.footer__item
{
    font-family:Helvetica, sans-serif;
    background-color: rebeccapurple;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.footer__item--about
{
    font-family:Helvetica, sans-serif;
    background-color: rebeccapurple;
    display: inline; 
    border-radius: 10px;
    text-align: left;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    list-style: none;



}



.footer__item :hover
{
    text-shadow: 2px 2px 4px #000000;
}


.footer__item--about :hover
{
    text-shadow: 2px 2px 4px #000000;
}


